<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TryMyFirstWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServelt</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>com.stx.ty3.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancellationServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.CancellationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancellationServelt</servlet-name>
    <url-pattern>/cancellation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blogWriteServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.BlogWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogWriteServelt</servlet-name>
    <url-pattern>/release</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blogShowServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.BlogShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogShowServelt</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blogEditServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.BlogEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogEditServelt</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blogDelServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.BlogDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogDelServelt</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commentAddServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.BlogCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentAddServelt</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blogContentServelt</servlet-name>
    <servlet-class>com.stx.ty3.servlet.BlogContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogContentServelt</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
</web-app>